body {
	background-color: #efefef;
}

#top {
	margin-bottom: 2rem;
}

#gallery {
	text-align: center;
	margin-bottom: 4rem;
}

#gallery canvas {
	padding: 5px;
	vertical-align: middle;
}

.editor {
	min-height: 300px;
}

.explanation {
	padding-left: 1rem;
	font-style: oblique;
}

#bottom {
	padding: 1em 0;
}

#picker .color-input {
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#picker .picker {
	width: 90%;
	float:left;
	height: 200px;
	border: 1px solid #D1D1D1;
	border-right: none;
	border-top: none;
	box-sizing: border-box;
}

#picker .slider {
	width: 10%;
	float:left;
	height: 200px;
	border: 1px solid #D1D1D1;
	border-left: none;
	border-top: none;
	box-sizing: border-box;
}
